/* Config style - video control hide*/
$information-phone : "screen and (min-aspect-ratio: 1/1)"
/* Global styles */
body
  margin : 0

.arrow
  z-index : 1

/*
 * main layout
 */
.leftone
  width : 320px
.rightone
  width : calc(100% - 321px)
  font-size: 24px
  line-height : 1.75
  color : #152c9a
  padding-top : 141px
  div
    padding-left : 30px

.swiper-slide
  background-size: cover

/*
 * animations
 */
@keyframes twinker-right
  0% 
    right : 0px
  10% 
    right : 10px
  30% 
    right : 0px

/*
 * swiper right
 */
.swiper-button-next
  animation-name : twinker-right
  animation-duration : 2s
/*
 * transition effect
 */
.list-enter-active, .list-leave-active
  transition : all 1s
.list-enter, .list-leave-to
  opacity : 0  
  transform : translateY(30px)

.other
  padding : 8px 40px 8px 40px
  background-color : #ffffff !important
  color : #055b4b !important
  transform : translateX(-40px)
  -webkit-transform : translateX(-40px)
  -ms-transform : translateX(-40px)
  -o-transform : translateX(-40px)
/*
 * Card & containers
 */
section
  overflow : hidden

.main-container
  position : absolute
  width : 94.8%
  left : 2.6%
  top : 18.6%
  background : white
  height : 408px
  div
    height : 100%
.video_container
  width : 385px
  height : 385px
  video
    width : 100%
    height : 100%

.card-container
  position : absolute
  right : 31px
  bottom : 100px
  .card
    padding : 11px 24px 8px 19px
    font-family : 'HANNA'
    background-color : #007aff
    border-radius : 30px
    color : white
    font-size : 32px
    width : calc(100% - 30px)
    max-width : 310px
    margin-bottom : 24px
    img
      width : 100%
      height : 100%

.etc-container
  position : absolute
  width : 100%
  top : 0

.duck-container
  width : 50px
  height : 50px
  position : absolute
  bottom : 50px
  right : 8px
  img
    height : 100%
    width : 100%

/*
 * progress bar and top bar
 */
#progressbar
  position : absolute
  top : 0
  left : 0
  transform : rotate(270deg)
  transform-origin : 100% 0
  height : 100vw
  width : 10px
  margin-left : -10px

.topbar
  position : absolute
  top : 0
  padding : 8px
  width : 100%
  height : 56px
  z-index : 10000
  img
    height : 30px
    margin-top : 14px
    margin-right : 20px
    float : right

.speaker-button
  height : 30px 
  margin-top : 14px
  margin-right: 20px
  float : right
  cursor : pointer
/* Each page styles */

/*
 * first page
 */

.first-page
  background-image : url('../images/bg0_w.png')
  font-family : 'HANNA'
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg0_m.png')

  section
    position : relative
  .topbar
    background : transparent
  nav
    height : 54px
    background-color : #007aff
    padding-top : 13px
    padding-left : 8px
    padding-bottom : 8px
    .nav-wrapper
      height : 54px
    .logo
      height : 100%
  .background
    position : absolute
    width : 100%
    height : calc(100% - 74px)
    top : 74px
    img
      width : 100%
  .card
    position : absolute
    right : 22.3px
    top : 238px
    font-size : 108px
    text-align : right
    color : #ffffff
    opacity : 0.9

    @media (max-aspect-ratio : 1/1)
      font-size : 64px

      
    

/*
 * second page
 */
.second-page
  .video_container
    width : 100%
    height : 100%
    transform : translate(-50%, -50%)
    -webkit-transform : translate(-50%, -50%)
    -moz-transform : translate(-50%, -50%)
    -ms-transform : translate(-50%, -50%)
    -o-transform : translate(-50%, -50%)
    position : absolute
    top : 50%
    left : 50%
  .etc
    background-image : url('../images/cup_win.png')
    width : 310px
    height : 310px
    margin : 30px auto
    opacity : 0.7

/*
 * 우승 지도
 */
.page-3
  background-color : #152c9a
  
/*
 * third page
 */
.third-page
  background-image : url('../images/bg1_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg1_m.png')
  .card
    padding : 11px 24px 8px 19px
    font-family : 'HANNA'
    background-color : #007aff
    border-radius : 30px
    color : white
    font-size : 32px
    margin-bottom : 24px

/*
 * fourth page
 */

.fourth-page
  .card
    padding : 11px 24px 8px 19px
    font-family : 'HANNA'
    background-color : #007aff
    border-radius : 30px
    color : white
    font-size : 32px
    margin-bottom : 24px

.page-4
  background-image : url('../images/bg2_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg2_m.png')

/*
 * fifth page
 */
.page-5
  background-image : url('../images/bg1_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg1_m.png')
/*
 * sixth page : 기술 설명 gifs
 */

.page-6
  background-image : url('../images/bg1_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg1_m.png')
.sixth-page
 
  .swiper-slide
    .gif-container
      width : 1000px
      margin : 0 auto

/*
 * 7th page : 3d spikes
 */

.seventh-page
  .background
    display : none
  .etc-container
    display : none
  .button
    display : block
    position : absolute
    top : 50%
    left : 50%
    transform : translate(-50%, -50%)
    -webkit-transform : translate(-50%, -50%)
    -moz-transform : translate(-50%, -50%)
    -ms-transform : translate(-50%, -50%)
    width : 120px
    margin : 10px 20px 10px
    text-align : center
    color: #FFF
    .btnBlueGreen
      border-radius : 5px
      background: #00AE68
      cursor : pointer
      padding : 10px

/*
 * 7페이지 감독 인터뷰
 */
.ninth-page
  .over
    width : 69.8%
    height : 240px
    opacity : 0.8
    color : #ffffff

/*
 * 8 page 
 */

.page-8
  background-image : url('../images/bg2_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg2_m.png')

/*
 * 9 page
 */

.page-9
  .over
    position : absolute
    top : 50%
    left : 50%
    font-size : 48px
    text-align : center
    transform : translate(-50%, -50%)
    -webkit-transform : translate(-50%, -50%)
    -moz-transform : translate(-50%, -50%)
    -ms-transform : translate(-50%, -50%)
    -o-transform : translate(-50%, -50%)
    width : 69.8%
    height : 240px
    opacity : 0.8
    color : #ffffff

/*
 * 10 page
 */
.page-10
  background-image : url('../images/bg6_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg6_m.png')
  .etc
    background-image : url('../images/graph.png')
/*
 * 11th page : 주팅, 김연경
 */
.eleventh-page
  .etc
    background-image : url('../images/graph.png')
    width : 781px
    height : 451px
    margin : 30px auto
    opacity : 0.7

.page-11
  background-image : url('../images/bg2_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg2_m.png')

/*
 * 정방형 영상 있는 곳
 * 얘만 배경화면, 비디오가 동시에 있음
 */
.fifteenth-page
  background-image : url('../images/bg9_w.png')
  background-size : cover
  
/*
 * page 13
 */
.page-13
  background-image : url('../images/bg1_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg1_m.png')
  
/*
 * page 14
 */
.page-14
  background-image : url('../images/bg2_w.png')
  @media (max-aspect-ratio : 1/1)
    background-image : url('../images/bg2_m.png')
