body
  margin : 0

/*
 * progress bar
 */
#progressbar
  position : absolute
  top : 0
  left : 0
  transform : rotate(270deg)
  transform-origin : 100% 0
  height : 100vw
  width : 10px
  margin-left : -10px

/*
 * first page
 */

.first-page
  font-family : 'HANNA'
  section
    position : relative
  nav
    height : 54px
    background-color : #faff37
    padding-top : 13px
    padding-left : 8px
    padding-bottom : 8px
    .nav-wrapper
      height : 54px
    img
      height : 100%
  .background
    position : relative
    background-image : url('../images/olympic.png')
    background-size : cover
    height : calc(100% - 74px)
  .card
    position : absolute
    right : 22.3px
    bottom : 116px
    font-size : 8.3vw
    text-align : right
    color : #055b4b
