<html>
    <head>
        <title>GodYeonKoung</title>
        <% include ../partials/head.ejs %>        
    </head>
    <body>
        <div id="mw-app" class="swiper-container">
            <div id="progressbar" class="swiper-pagination"></div>
            <div class="topbar">
                <img class="speaker-button" 
                    v-on:click = "toggle"
                    :src="sound" alt="speaker">
            </div>
            <div class="swiper-wrapper">
                <!-- First Page -->
                <slide-element 
                           :properties="obj1"
                           class='swiper-slide first-page'>
                    <div slot="main">
                        <nav class="nav">
                            <div class="nav-wrapper">
                                <a href="#" class="logo">
                                    <img src="images/DDD1.png" alt="logo" class="logo">
                                </a>
                            </div>
                        </nav>
                        <div class="card">
                                갓연경을<br/>
                                아직도<br/>
                                모른다고?<br/>
                        </div>  
                        
                    </div>
                </slide-element>    

                <!-- Second page 김연경 터키컵 우승-->
                <slide-element  
                    :properties="obj2"
                    class='swiper-slide second-page'>
                    <div slot='main'>
                        <div class="video_container">
                            <video muted playsinline></video>
                        </div>
                    </div>
                </slide-element>    

                <!-- Third Page 초등학생 김연경 -->
                <slide-element 
                    :properties="obj3"
                    class='swiper-slide third-page' > 
                    <div class="main-container" slot='main'>
                        <div class="leftone float_left">
                            <img src="images/YK_elementary.png" alt="">
                        </div>
                        <div class="rightone float_left">
                           <div v-html="obj3.main_text"></div> 
                        </div>
                    </div>
                </slide-element>
                <!-- 4 page : 김연경 옛날 회상 인터뷰-->
                <slide-element
                    :properties="obj8" 
                    class="swiper-slide page-4"
                >
                   <div class="main-container" slot="main">
                        <div class="leftone float_left">
                            <video muted playsinline></video>
                        </div>
                        <div class="rightone float_left">
                           <div v-html="obj8.main_text"></div> 
                        </div>
                    </div>
                </slide-element>
                <!-- 5 page 김연경은 포기하지 않았다.-->
                <slide-element 
                    :properties="obj4"
                    class='swiper-slide fourth-page page-5'> 
                    <div class="main-container" slot='main'>
                        <div class="leftone float_left">
                            <img src="images/YK_middle.png" alt="">
                        </div>
                        <div class="rightone float_left" >
                            <div v-html="obj4.main_text"></div>
                        </div>
                    </div>
                </slide-element>
               <!-- 6 page 키가 20cm 자랐다.-->
               <slide-element 
                    :properties="obj5" 
                    class='swiper-slide fifth-page page-6'>
                    <div slot='main' class="main-container">
                        <div class="leftone float_left">
                            <img src="images/YK_smile.png" alt="">
                        </div>
                        <div class="rightone float_left">
                        <div v-html="obj5.main_text"></div>
                        </div>
                    </div>
                </slide-element>
                <!-- 7 page - 3d 설명 스파이크! -->
                <slide-element :properties="obj14" class="swiper-slide seventh-page">
                    <div class="threeD" slot='main'>
                        <div class="button">
                            <span class="btnBlueGreen">
                                스파이크!
                            </span >
                        </div>
                    </div>
                </slide-element>
                <!-- 8 page : 19살의 나이 흥국생명 입단 -->
                <slide-element
                    :properties="obj9" 
                    class="swiper-slide page-8 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <video id="video3" class="fullscreen-bg__video fullscreen-bg__video" width="100%"  muted webkit-playsinline playsinline>
                                <source src="video/KYK_special_w.mp4" type="video/webm"></source>
                            </video>
                        </div>
                        <div class="rightone float_left">
                        <div v-html="obj9.main_text"></div>
                        </div>
                    </div>
                </slide-element>
                <!-- page : 박기주 감독 인터뷰 -->
                <slide-element
                    :properties="obj10" 
                    class="swiper-slide page-9 eleventh-page"
                >
                    <div slot ="main">
                        <video id="video4" class="fullscreen-bg__video fullscreen-bg__video" width="100%"  muted webkit-playsinline playsinline>
                            <source src="video/coach_interview_w.webm" type="video/webm"></source>
                            <source src="video/coach_interview_w.mp4" type="video/mp4"></source>
                        </video>
                        <div class="over">"초/중학교 때부터 기본기를 잘 배우고 올라왔던거 같아요." <br><br> - 박기주(김연경 고등학교 감독)</div>
                    </div>
                </slide-element>

                <!-- page : 주팅 비교 -->
                <slide-element
                    :properties="obj11" 
                    class="swiper-slide page-10 eleventh-page"
                >
                    <div slot ="main">
                        
                    </div>
                </slide-element>
                <!-- page : 기술 인트로 -->
                <slide-element
                    :properties="obj12" 
                    class="swiper-slide page-11 eleventh-page"
                >
                    <div slot ="main">
                        
                    </div>
                </slide-element>
                <!-- page - 기술 설명 지피-->
                <slide-element 
                    class="swiper-slide page-12 sixth-page">
                    <div slot='main' class="swiper-container-h">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="swiper-lazy" data-src="gifs/spike.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="swiper-lazy" data-src="gifs/serve.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="swiper-lazy" data-src="gifs/receive.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="swiper-lazy" data-src="gifs/block.gif" alt="">
                                </div>
                            </div>
                        </div>                    
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </slide-element>
                
                <!-- still mvp -->
                <slide-element
                    :properties="obj15" 
                    class="swiper-slide page-13 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <video id="video5" class="fullscreen-bg__video fullscreen-bg__video" width="100%"  muted webkit-playsinline playsinline>
                                <source src="video/YK_special_w.mp4" type="video/webm"></source>
                            </video>
                        </div>
                        <div class="rightone float_left">
                        <div v-html="obj15.main_text"></div>
                        </div>

                    </div>
                    
                </slide-element>

                <!-- believe myself -->
                <slide-element
                    :properties="obj16" 
                    class="swiper-slide page-14 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <video id="video6" class="fullscreen-bg__video fullscreen-bg__video" width="100%"  muted webkit-playsinline playsinline>
                                <source src="video/KYK_believe_myself_w.mp4" type="video/mp4"></source>
                            </video>
                        </div>
                        <div class="rightone float_left">
                        <div v-html="obj16.main_text"></div>
                        </div>

                    </div>
                    
                </slide-element>


            </div>
        </div>
        <% include ../partials/js.ejs %>
    </body>
</html>
<!-- test -->
