<html>
    <head>
        <% include ../partials/head.ejs %>        
    </head>
    <body>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-91990631-1', 'auto'); ga('send', 'pageview');

        </script>
        <div id="mw-app" class="swiper-container">
            <div id="progressbar" class="swiper-pagination"></div>
            <div class="topbar">
                <a href="/">
                    <img src="images/DDD2.png" alt="logo" class="clogo">
                </a>
                <a href="http://www.facebook.com/sharer/sharer.php?u=mentalwin.newslabfellows.com">
                    <i class="fa fa-share-alt share-toggle-button" aria-hidden="true"></i>
                </a>

                <img class="speaker-button" 
                    v-on:click = "toggle"
                    :src="sound">
            </div>
            <div class="swiper-wrapper">
                <!-- First Page -->
                <slide-element 
                           :properties="obj1"
                           class='swiper-slide first-page'>
                    <div slot="main">
                        <div class="soundbar">
                            <h1>본 콘텐츠는 음향을 포함하고 있습니다.<br/>최적의 감상을 위하여 이어폰/헤드폰을 착용하시면 더 좋습니다.</h1>
                            <div id="bars">
                                <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div> <div class="bar"></div>
                            </div>
                        </div>
                        <nav class="nav">
                            <div class="nav-wrapper">
                                <a href="/" class="logo">
                                    <img src="images/DDD2.png" alt="logo" class="logo">
                                </a>
                            </div>
                        </nav>
                        <div class="card">
                                갓연경을<br/>
                                아직도<br/>
                                모른다고?<br/>
                        </div>  
                        
                    </div>
                </slide-element>    

                <!-- Second page 김연경 터키컵 우승-->
                <slide-element  
                    :properties="obj2"
                    class='swiper-slide second-page'>
                    <div slot='main'>
                        <div class="video_container">
                            <video muted playsinline></video>
                            <v-spinner class="v-spin"></v-spinner>
                        </div>
                    </div>
                </slide-element>    

                <!-- 우승지도 -->
                <slide-element
                    :properties="obj17"
                    class='swiper-slide win_map'>
                    <div class="map vertical-middle" slot="main">
                    </div>
                </slide-element>

                <!-- Third Page 초등학생 김연경 -->
                <slide-element 
                    :properties="obj3"
                    class='swiper-slide third-page' > 
                    <div class="main-container" slot='main'>
                        <div class="leftone float_left">
                        </div>
                        <div class="rightone float_left">
                           <div class="inner" v-html="obj3.main_text"></div> 
                        </div>
                    </div>
                </slide-element>
                <!-- 4 page : 김연경 옛날 회상 인터뷰-->
                <slide-element
                    :properties="obj8" 
                    class="swiper-slide page-4"
                >
                   <div class="main-container" slot="main">
                        <div class="leftone float_left">
                            <div class="video_container">
                                <video muted webkit-playsinline playsinline></video> 
                                <v-spinner class="v-spin"></v-spinner>
                            </div>
                        </div>
                        <div class="rightone float_left">
                           <div class="inner interview" v-html="obj8.main_text"></div> 
                        </div>
                    </div>
                </slide-element>
                <!-- 5 page 김연경은 포기하지 않았다.-->
                <slide-element 
                    :properties="obj4"
                    class='swiper-slide fourth-page page-5'> 
                    <div class="main-container" slot='main'>
                        <div class="leftone float_left">
                        </div>
                        <div class="rightone float_left" >
                            <div class="inner" v-html="obj4.main_text"></div>
                        </div>
                    </div>
                </slide-element>
               <!-- 6 page 키가 20cm 자랐다.-->
               <slide-element 
                    :properties="obj5" 
                    class='swiper-slide fifth-page page-6'>
                    <div slot='main' class="main-container">
                        <div class="leftone float_left">
                            <img src="images/YK_smile.png" alt="">
                        </div>
                        <div class="rightone float_left">
                            <div class="inner" v-html="obj5.main_text"></div>
                        </div>
                    </div>
                </slide-element>
                <!-- 7 page - 3d 설명 스파이크! -->
                <slide-element :properties="obj14" class="swiper-slide seventh-page">
                    <div class="threeD" slot='main'>
                        <div class="card-container">
                            <div class="bubble">
                                김연경의 실제<br/>
                                스파이크 속도야
                            </div>
                            <div class="bubble">
                                원하는 만큼 반복할 수 있도록<br/>
                                해놨음!(버튼클릭)
                            </div>
                        </div>
                        <div class="spike-button">
                        </div>
                    </div>
                </slide-element>
                <!-- 8 page : 19살의 나이 흥국생명 입단 -->
                <slide-element
                    :properties="obj9" 
                    class="swiper-slide page-8 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <div class="video_container">
                                <video muted webkit-playsinline playsinline> </video>
                                <v-spinner class="v-spin"></v-spinner>
                            </div>
                        </div>
                        <div class="rightone float_left">
                        <div class="inner" v-html="obj9.main_text"></div>
                        </div>
                    </div>
                </slide-element>
                <!-- page : 박기주 감독 인터뷰 -->
                <slide-element
                    :properties="obj10" 
                    class="swiper-slide page-9 eleventh-page"
                >
                    <div slot ="main">
                        <div class="video_container">
                            <video muted playsinline></video>
                            <v-spinner class="v-spin"></v-spinner>
                        </div>
                    </div>
                </slide-element>

                <!-- page : 주팅 비교 -->
                <slide-element
                    :properties="obj11" 
                    class="swiper-slide page-10 eleventh-page"
                    v-if = "!mobile_mode"
                >
                    <div slot ="main">
                        
                    </div>
                </slide-element>
                <!-- page : 주팅 모바일 -->
                <slide-element
                    v-if = "mobile_mode"
                    :properties="obj19" 
                    class="swiper-slide page-10-m"
                >
                    <div slot ="main">
                        
                    </div>
                </slide-element>
                <!-- page : 기술 인트로 -->
                <slide-element
                    :properties="obj12" 
                    class="swiper-slide page-11 eleventh-page"
                >
                    <div slot ="main">
                        <div class="card-container">
                            <div class="bubble">
                                그럴 줄 알고 내가 또 준비했지!<br/>
                                김연경의 공격 & 수비 기술을
                                천천히 살펴보자<br/>
                            </div>
                        </div>
                        
                    </div>
                </slide-element>
                <!-- page - 기술 설명 지피-->
                <slide-element 
                    class="swiper-slide page-12 sixth-page">
                    <div slot='main' class="swiper-container-h gallery-top">
                        <!-- main -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="gif" name="spike"  alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="gif" name="serve"  alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="gif" name="receive"  alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img class="gif" name="block"  alt="">
                                </div>
                            </div> 
                        </div>                    
                        <!-- thumbs -->
                            <div class="gallery-thumbs">
                                <div class="gallery-thumb">
                                    <div class="thumb">
                                        <img class="gif-thumb" src="images/spike.png" alt="">
                                    </div>
                                    <div class="thumb">
                                        <img class="gif-thumb" src="images/serve.png" alt="">
                                    </div>
                                    <div class="thumb">
                                        <img class="gif-thumb" src="images/receive.png" alt="">
                                    </div>
                                    <div class="thumb">
                                        <img class="gif-thumb" src="images/block.png" alt="">
                                    </div> 
                                </div>
                            </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </slide-element>
                
                <!-- still mvp -->
                <slide-element
                    :properties="obj15" 
                    class="swiper-slide page-13 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <div class="video_container">
                                <video id="video5" class="fullscreen-bg__video fullscreen-bg__video" width="100%"  muted webkit-playsinline playsinline>
                                </video>
                                <v-spinner class="v-spin"></v-spinner>
                            </div>
                        </div>
                        <div class="rightone float_left">
                            <div class="inner" v-html="obj15.main_text"></div>
                        </div>

                    </div>
                    
                </slide-element>

                <!-- believe myself -->
                <slide-element
                    :properties="obj16" 
                    class="swiper-slide page-14 eleventh-page"
                >
                    <div class="main-container" slot ="main">
                        <div class="leftone float_left">
                            <div class="video_container">
                                <video muted playsinline> </video>
                                <v-spinner class="v-spin"></v-spinner>
                            </div>
                        </div>
                        <div class="rightone float_left">
                            <div class="inner interview" v-html="obj16.main_text"></div>
                        </div>

                    </div>
                    
                </slide-element>
                <!-- 비행기 세레머니 -->
                <slide-element  
                    :properties="obj18"
                    class='swiper-slide second-page'>
                    <div slot='main'>
                        <div class="video_container">
                            <div class="video_container">
                                <video muted playsinline></video>
                                <v-spinner class="v-spin"></v-spinner>
                            </div>
                        </div>
                    </div>
                </slide-element>   
                <slide-element
                    :properties="obj20"
                    class='swiper-slide page-15'>
                    <div slot='main'>
                        <div class="img-container">
                            <img src="images/credit2.png">
                        </div>
                    </div>
                </slide-element>
            </div>
        </div>
        <% include ../partials/js.ejs %>
    </body>
</html>
<!-- test -->
