<html>
    <head>
        <title>GodYeonKoung</title>
        <% include ../partials/head.ejs %>        
    </head>
    <body>
        <div id="mw-app" class="swiper-container">
            <div id="progressbar" class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                <!-- First Page -->
                <slide-element 
                                :is-white='false' 
                               class='swiper-slide first-page'>
                        <div slot="main">
                            <nav class="nav">
                                <div class="nav-wrapper">
                                    <a href="#" class="logo">
                                        <img src="images/DDD1.png" alt="logo">
                                    </a>
                                </div>
                            </nav>
                            <div class="background">
                                <div class="card">
                                    배구여제<br/>
                                    '김연경'<br/>
                                    입덕 스토리<br/>
                                </div>  
                            </div>
                        </div>
                        
                </slide-element>    

                <!-- Second Page -->
                <slide-element :is-white="false" class='swiper-slide'>
                    <div slot='main'></div>
                </slide-element>    
            </div>
        </div>
        <% include ../partials/js.ejs %>
    </body>
</html>
