<html>
    <head>
        <title>GodYeonKoung</title>
        <% include ../partials/head.ejs %>        
    </head>
    <body>
        <div id="mw-app" class="swiper-container">
            <div id="progressbar" class="swiper-pagination"></div>
            <div class="swiper-wrapper">
                <!-- First Page -->
                <slide-element 
                           :properties="obj1"
                           class='swiper-slide first-page'>
                    <div slot="main">
                        <nav class="nav">
                            <div class="nav-wrapper">
                                <a href="#" class="logo">
                                    <img src="images/DDD1.png" alt="logo">
                                </a>
                            </div>
                        </nav>
                        <div class="background">
                            <div class="card">
                                배구여제<br/>
                                '김연경'<br/>
                                입덕 스토리<br/>
                            </div>  
                        </div>
                    </div>
                </slide-element>    

                <!-- Second yage -->
                <slide-element  
                    :properties="obj2"
                    class='swiper-slide second-page'>
                    <div slot='main'>
                        <div class="fullscreen-bg">
                            <video id="video1" class="fullscreen-bg__video fullscreen-bg__video" width="100%" preload="auto" >
                                <source src="video/YK_win.webm" type="video/webm"></source>
                            </video>
                        </div>
                    </div>
                </slide-element>    
                <!-- Third Page -->
                <slide-element 
                    :properties="obj3"
                    class='swiper-slide third-page' > 
                    <div slot='main'>
                        <img src="" alt="">
                    </div>
                </slide-element>
                <!-- Fourth page-->
                <slide-element 
                    :properties="obj4"
                    class='swiper-slide fourth-page'> 
                    <div slot='main'>
                        <img src="images/YK_middle.png" alt="">
                    </div>
                </slide-element>
               <!-- Fifth page-->
               <slide-element 
                    :properties="obj5" 
                    class='swiper-slide fifth-page'>
                            
                    <div slot='main'>
                        <img src="images/YK_trainning.png" alt="">
                    </div>
                </slide-element>
                <!-- sixth page - 기술 설명 영상-->
                <slide-element class="swiper-slide sixth-page">
                    <div slot='main' class="swiper-container-h">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img src="gifs/spike.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img src="gifs/serve.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img src="gifs/receive.gif" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gif-container">
                                    <img src="gifs/block.gif" alt="">
                                </div>
                            </div>
                        </div>                    
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </slide-element>
                <!-- 7th page - 3d 설명 -->
                <slide-element class="swiper-slide seventh-page">
                    <div class="threeD" slot='main'>
                        <div class="button">
                            <span class="btnBlueGreen">
                                스파이크!
                            </span >
                        </div>
                    </div>
                    
                </slide-element>
                <!-- 8th page - -->
                <slide-element
                    :properties = "obj6"
                    class="swiper-slide eighth-page">
                    <div slot='main'>
                        <img src="images/YK_elementary5.png" alt="">
                    </div>
                    
                </slide-element>
                <slide-element
                    :properties = "obj7" 
                    class="swiper-slide ninth-page">
                >
                   <div slot ="main">
                       <div class="fullscreen-bg" >
                            <video id="video2" class="fullscreen-bg__video fullscreen-bg__video" width="100%" preload="auto" >
                                <source src="video/KJ_interview.webm" type="video/webm"></source>
                            </video>
                        </div>
                    </div>
                </slide-element>
                <!-- 10 page : 김연경 인터뷰-->
                <slide-element
                    :properties="obj8" 
                    class="swiper-slide tenth-page"
                >
                    <div slot ="main">
                       <div class="fullscreen-bg" >
                            <video id="video3" class="fullscreen-bg__video fullscreen-bg__video" width="100%" preload="auto" >
                                <source src="video/believe_myself.webm" type="video/webm"></source>
                            </video>
                        </div>
                    </div>
                </slide-element>
                <!-- 11 page : 주팅 김연경 비교-->
                <slide-element
                    :properties="obj9" 
                    class="swiper-slide eleventh-page"
                >
                    <div slot ="main">
                       
                    </div>
                </slide-element>
            </div>
        </div>
        <% include ../partials/js.ejs %>
    </body>
</html>
<!-- test -->
