<html>
  <head>
    <% include ../partials/tofu_head.ejs %>
    <meta property="og:image" content="http://mentalwin.newslabfellows.com/images/thumbnail/thumbnail_tofu3.png"/>
    <meta property="og:url" content="http://mentalwin.newslabfellows.com/tofu/4"/>
    <!-- facebook 공유 메시지 들어갈 곳-->
  </head>
  <body>
      <header class="iu-header header">
        <!--<div class="iu-center-box center-box"></div>-->
        <!--<div class="iu-text text-12">-->
          <!--<p>김연경 키 보기</p>-->
        <!--</div>-->
        <!--<div class="iu-text text-14">-->
          <!--<p>내 키와 비교 해보기</p>-->
        <!--</div>-->
        <a class="iux-outer-link" href="/tofu3">
          <img class="iu-image image" src="resource/project/DDD2.png">
        </a>
        <!--<div class="iu-text text-15">-->
          <!--<p>김연경 입덕</p>-->
        <!--</div>-->
        <!--<div class="iu-text text-16">-->
          <!--<p>김연경으로 배구보기</p>-->
        <!--</div>-->
      </header>
        <!-- share -->
        <div class="content">
          <div class="share">
            <button class="share-toggle-button">
              <i class="share-icon fa fa-share-alt"></i>
            </button>
            <ul class="share-items">
              <li class="share-item">
                <a href="http://www.facebook.com/sharer/sharer.php?u=mentalwin.newslabfellows.com/tofu/4" class="share-button">
                  <i class="share-icon fa fa-facebook"></i>
                </a>
              </li>
              <li class="share-item">
                <a href="javascript:;" id="kakao-link-btn" class="share-button">
                  <i class="share-icon fa fa-comment"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
<section class="analyzed">
            <div class="margin-top padding">
                <p id="user_value" class="white"></p>
                <p id="user_result" class="HANNA"></p>
            </div>
            <a class="right-text" href="/timeline.html">
                <img id="totimeline" src="resource/project/carousel_right.png" alt="right_arrow">
            </a>
            <div id="img-container">
                <img src="resource/project/KYK0.png" alt="koung">
            </div>
        </section>
      <footer class="iu-footer footer">
        <div class="iux-has-hover iu-icon-button icon-button">
          <p>
              <img src="resource/project/plus_icon.png">
          <span>
          더 보기
          </span>
          </p>
        </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="js/TweenMax.min.js"></script>
      <script src="js/result.js"></script>
      <script src="js/share.js"></script>
      <script>
            var idx;
            $(document).ready(function(){
                 idx = window.location.pathname.split('/')[2]; 
                getHeightData().done(function(item){
                    heightData = item.heightData;
                    showResult(idx);
                });
            });
      </script>
    </body>
</html>
