<html>
    <head>
        <link rel="stylesheet" href="stylesheets/global.css">
        <link rel="stylesheet" href="stylesheets/tofu.css">
    </head>
    <body>
        <nav id="navtofu">
            <div class="nav-container">
                <a href="#">
                    <img id="logo-img" src="images/logo.png" alt="logo">
                </a>
            </div>
        </nav>
        <section class="section1">
            <div class="section-container">
                <div class="upper white">
                    <p class="lighter Roboto" id="sub-text">덕후와의 대화를 위한 넓고 얕은 스포츠</p>
                    <p class="HANNA" id="main-text">감히 키를 <br/> 재보겠다고?</p>
                </div>
                <div class="lower Roboto">
                    <p class="HANNA">당신의 키를 <br/> 입력해보세요</p>
                    <input type="number" placeholder = "168"/> <span class="HANNA">CM</span>
                    <p class="first-tag"># 난 이미 글렀어<br/># 나 키 작고 놀린 놈 태그</p>
                </div>
            </div>
        </section>
        <div id="img-container">
            <img src="image/koung_1.png" alt="koung">  
        </div>
   
        <script></script>
    </body>
</html>
