<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/global.css">
        <link rel="stylesheet" href="stylesheets/tofu.css">
        <link rel="stylesheet" href="stylesheets/loading.css">
        <link rel="stylesheet" href="slick/slick.css">
        <link rel="stylesheet" href="slick/slick-theme.css">
    </head>
    <body>
        <nav id="navtofu">
            <div class="nav-container">
                <a href="#" id="logo">
                    <img id="logo-img" src="images/logo.png" alt="logo">
                </a>
            </div>
        </nav>
        <section class="section1">
            <div class="section-container">
                <div class="upper white margin-top">
                    <p class="lighter Roboto" id="sub-text">덕후와의 대화를 위한 넓고 얕은 스포츠</p>
                    <p class="HANNA" id="main-text">감히 키를 <br/> 재보겠다고?</p>
                </div>
                <div class="lower Roboto">
                    <p class="HANNA">당신의 키를 <br/> 입력해보세요</p>
                    <form id="name_height_form" >
                        <input required id="name" type="text" placeholder = "이름(성 빼고)"/> 
                        <input required id="height" type="number" placeholder = "키(cm)"/>
                        <button class="margin-top submit white" type="submit">G O</button>
                    </form>
                    <p class="first-tag"># 난 이미 글렀어<br/># 나 키 작다고 놀린 놈 태그</p>
                </div>
            </div>
        </section>
        <section class="analyzed">
            <div class="margin-top padding">
                <p id="user_value" class="white"></p>
                <p id="user_result" class="HANNA"></p>
            </div>
            <div class="right-text">
                <img id="totimeline" src="images/right_arrow.png" alt="right_arrow">
            </div>
        </section>
        <section class="timeline">
            <div class="slicker">
                <div>
                  <img src="http://placehold.it/350x300?text=1">
                  <span>1</span>
                </div>
                <div>
                  <img src="http://placehold.it/350x300?text=2">
                  <span>2</span>
                </div>
                <div>
                  <img src="http://placehold.it/350x300?text=3">
                  <span>3</span>
                </div>
            </div>
        </section>
        <div id="img-container">
            <img src="images/koung_1.png" alt="koung">  
        </div>
        <!-- footer 공유하기 -->
        <footer>
            <div class="foot">
                <div class="left_footer center-text text-white">
                    김연경 스토리 보러가기
                </div>
                <div class="right_footer center-text text-white">
                    공유하기 
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>
        <script type="text/javascript">
            var height, name;
            var heightData;
            var result;
            var fakeloadingTime = 2000;
            // sections
            var $section1 = $(".section1");
            var $analyzed = $(".analyzed");
            var $timeLine = $("section.timeline");
            var $img = $("#img-container img");
            var messages = [
                "마음의 준비...",
                "두구두구두구두구둥둥",
                "김연경도 어렸을 땐 작았다던데..."
            ]
            var getRandom = function(list) {
                var idx = Math.floor(Math.random() * list.length);
                return list[idx];
            }
            function getHeightData() {
                return $.ajax({
                        method : 'GET',
                        url : 'assets/height.json'
                    })
            }
            // 결과 분석하기
            var heightAnalyzer = function(value) {
                var returnValue;
                for (var i = 0; i < heightData.length; i++){
                    if (value <= heightData[i].height) return i;
                }
                return -1;//김연경보다 키 큰 경우
            }
            var getImage = function(idx) {
                if (idx >= 0 ) {
                    return "images/KYK" + idx + ".png";
                } else {
                    return "images/donotjoke.png"
                }
            }
            // 페이크 로딩
            function fakeloading(idx) {
                $section1.css('display', 'none');
                var message = getRandom(messages);
                var spinner = $("<div class='spinner'>\
                                    <img src='images/DDD1.png' alt='Duck'>\
                                    <div class='spinner__item1'></div>\
                                    <div class='spinner__item2'></div>\
                                    <div class='spinner__item3'></div>\
                                    <div class='spinner__item4'></div>\
                                </div>");
                $("body").append(spinner);
                var pMessage = $("<p class='shortMessage'></p>");
                pMessage.html(message);
                spinner.append(pMessage);
                setTimeout(function(){
                    spinner.css("display", "none");
                    // 끝나고 결과 보여주기
                    showResult(idx);
                }, fakeloadingTime);
            }
            
            var replaceMessage = function(message, regex, value){
                return message.replace(regex, value);
            }

            var getNameHeight = function (ev){
                ev.preventDefault();
                height = +$("#height").val();
                name = $("#name").val();
                // loading 하는 척하기
                var idx = heightAnalyzer(height);
                fakeloading(idx);
                result = heightData[idx];
                guessedresult = ageAnalzyer(idx, height);
            }

            // age analyzer
            var ageAnalzyer = function(idx, value) {
                if (idx >= 0) {
                    var base = 100;
                    var baseAge = 10;
                    var compData = heightData[idx];
                    if (idx > 0) {
                        base = heightData[idx-1].height;
                        baseAge = heightData[idx-1].age;
                    }
                    var ratio = (value - base) / (compData.height - base)
                    var multiplier = compData.age - baseAge
                    return baseAge + Math.round(ratio * multiplier * 10) / 10;
                }
            }

            // 결과 보여주기
            var showResult = function(idx) {
                $analyzed.css("display", "block");
                var resultMessage; 
                var $user_result = $("#user_result");
                var $user_value = $("#user_value");
                if ( idx >= 0) {
                    resultMessage = result.message;
                    resultMessage = replaceMessage(resultMessage,/<name>/, name);
                    resultMessage = replaceMessage(resultMessage,/<age>/, guessedresult);
                    var resultValue = "\"" + height + "cm\"";
                   
                    $user_value.html(resultValue);
                } else {
                    resultMessage = "에이... 어플에 거짓말을 하면 쓰나..."
                }
                $user_result.html(resultMessage);
                var img = getImage(idx);
                $img.attr("src", img);
                // 김연경 타임라인으로...
            }
            // 타임라인
            var showTimeLine = function() {
                $analyzed.css("display", "none");
                $timeLine.css("display", "block");
                $img.css("display", "none");
                $(".slicker").slick();
            }
            function reloadPage(){
                location.reload();
            }
            $("#logo").click(reloadPage);
            $(document).ready(function(){
                var $form = $("#name_height_form");
                var $toTimeline = $("#totimeline");
                getHeightData().done(function(item){
                    heightData = item.heightData;
                });
                $form.submit(getNameHeight);
                $toTimeline.click(showTimeLine);
            });
        </script> 
    </body>
</html>
