<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../public/stylesheets/global.css">
        <link rel="stylesheet" href="../public/stylesheets/tofu.css">
        <link rel="stylesheet" href="../public/stylesheets/loading.css">
        <link rel="stylesheet" href="../public/slick/slick.css">
        <link rel="stylesheet" href="../public/slick/slick-theme.css">
    </head>
    <body>
        <nav id="navtofu">
            <div class="nav-container">
                <a href="#" id="logo">
                    <img id="logo-img" src="../public/images/logo.png" alt="logo">
                </a>
            </div>
        </nav>
        <section class="section1">
            <div class="section-container">
                <div class="upper white margin-top">
                    <p class="lighter Roboto" id="sub-text">덕후와의 대화를 위한 넓고 얕은 스포츠</p>
                    <p class="HANNA" id="main-text">감히 키를 <br/> 재보겠다고?</p>
                </div>
                <div class="lower Roboto">
                    <p class="HANNA">당신의 키를 <br/> 입력해보세요</p>
                    <form id="name_height_form" >
                        <input required id="name" type="text" placeholder = "이름(성 빼고)"/>
                        <input required id="height" type="number" placeholder = "키(cm)"/>
                        <button class="margin-top submit white" type="submit">G O</button>
                    </form>
                    <p class="first-tag"># 난 이미 글렀어<br/># 나 키 작다고 놀린 놈 태그</p>
                </div>
            </div>
        </section>
        <section class="analyzed">
            <div class="margin-top padding">
                <p id="user_value" class="white"></p>
                <p id="user_result" class="HANNA"></p>
            </div>
            <div class="right-text">
                <img id="totimeline" src="../public/images/right_arrow.png" alt="right_arrow">
            </div>
        </section>
        <section class="timeline">
            <div class="horizontal-bar"></div>
            <div class="slicker">
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                11 살
                            </div>
                            <img src="../public/images/kyk_young1.png">
                                <div class="bottom">
                                    <span class="height" >147cm </span> <br/>
                                    <span class="big">11살 때...</span> <br/>
                                    사실 배구를 <br/>
                                    하기에 큰 키는 <br/>
                                    아니었어
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            초등학교 4학년, 선수였던 언니따라 배구시작...
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                13 살
                            </div>
                            <img src="../public/images/kyk_young2.png">
                                <div class="bottom">
                                    <span class="height" >150cm </span> <br/>
                                    <span class="big">13살 때...</span> <br/>
                                    주로 세터 or 수비로 <br/>
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            지금은 키가 크지만 이때만 해도 키가 작아 고민했던 연경언니...
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                15 살
                            </div>
                            <img src="../public/images/kyk_young3.png">
                                <div class="bottom">
                                    <span class="height" >163cm </span> <br/>
                                    <span class="big">15살 때...</span> <br/>
                                    키가 작아서<br/>
                                    포기할까 고민도 하고...
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            이때 포기했으면 큰일날 뻔 ㅠㅠ
                            우리나라 배구계의 큰 별 하나 사라질뻔
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                16 살
                            </div>
                            <img src="../public/images/kyk_young4.png">
                                <div class="bottom">
                                    <span class="height" >172cm </span> <br/>
                                    <span class="big">16살 때...</span> <br/>
                                    여전히 작은 키,<br/>
                                    그래도<br/>
                                    더 열심히 했어
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            배구선수로서 고등학교 진학에 문제가 생길 뻔하기도... 그러나 굴하지 않고 더 빡세게 훈련함!
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                19 살
                            </div>
                            <img src="../public/images/kyk_young5.png">
                                <div class="bottom">
                                    <span class="height" >186cm </span> <br/>
                                    <span class="big">19살 때...</span> <br/>
                                    제 1의 유망주로<br/>
                                    프로 선수 활동을 <br/>
                                    시작했어!!!
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            키가 작다고 포기하지 않았떠니 수비 + 공격의 완전체가...(감동) 갓연경 축탄생축
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="inner-container">
                        <div class="inner-content">
                            <div class="age">
                                현재
                            </div>
                            <img src="../public/images/kyk_young6.png">
                                <div class="bottom">
                                    <span class="height" >192cm </span> <br/>
                                    <span class="big">지금은!</span> <br/>
                                    터키리그에서<br/>
                                    선수로 활동중이야
                                </div>
                        </div>
                        <div class="desc">
                            <span>덕후의 한마디</span> <br/>
                            지금 김연경은 터키 리그에서 뛰면서 그랜드 슬램 달성 중 소문에 의하면 아직도 키가 큰다고...
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div id="img-container">
            <img src="../public/images/koung_1.png" alt="koung">
        </div>
        <!-- footer 공유하기 -->
        <footer>
            <div class="foot">
                <div class="left_footer center-text text-white">
                    김연경 스토리 보러가기
                </div>
                <div class="right_footer center-text text-white">
                    공유하기
                </div>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../public/slick/slick.js"></script>
        <script type="text/javascript">
            var height, name;
            var heightData;
            var result;
            var fakeloadingTime = 2000;
            // sections
            var $section1 = $(".section1");
            var $analyzed = $(".analyzed");
            var $timeLine = $("section.timeline");
            var $img = $("#img-container img");
            var messages = [
                "마음의 준비...",
                "두구두구두구두구둥둥",
                "김연경도 어렸을 땐 작았다던데..."
            ]
            var getRandom = function(list) {
                var idx = Math.floor(Math.random() * list.length);
                return list[idx];
            }
            function getHeightData() {
                return $.ajax({
                        method : 'GET',
                        url : '../public/assets/height.json'
                    })
            }
            // 결과 분석하기
            var heightAnalyzer = function(value) {
                var returnValue;
                for (var i = 0; i < heightData.length; i++){
                    if (value <= heightData[i].height) return i;
                }
                return -1;//김연경보다 키 큰 경우
            }
            var getImage = function(idx) {
                if (idx >= 0 ) {
                    return "../public/images/KYK" + idx + ".png";
                } else {
                    return "../public/images/donotjoke.png"
                }
            }
            // 페이크 로딩
            function fakeloading(idx) {
                $section1.css('display', 'none');
                var message = getRandom(messages);
                var spinner = $("<div class='spinner'>\
                                    <img src='../public/images/DDD1.png' alt='Duck'>\
                                    <div class='spinner__item1'></div>\
                                    <div class='spinner__item2'></div>\
                                    <div class='spinner__item3'></div>\
                                    <div class='spinner__item4'></div>\
                                </div>");
                $("body").append(spinner);
                var pMessage = $("<p class='shortMessage'></p>");
                pMessage.html(message);
                spinner.append(pMessage);
                setTimeout(function(){
                    spinner.css("display", "none");
                    // 끝나고 결과 보여주기
                    showResult(idx);
                }, fakeloadingTime);
            }

            var replaceMessage = function(message, regex, value){
                return message.replace(regex, value);
            }

            var getNameHeight = function (ev){
                ev.preventDefault();
                height = +$("#height").val();
                name = $("#name").val();
                // loading 하는 척하기
                var idx = heightAnalyzer(height);
                fakeloading(idx);
                result = heightData[idx];
                guessedresult = ageAnalzyer(idx, height);
            }

            // age analyzer
            var ageAnalzyer = function(idx, value) {
                if (idx >= 0) {
                    var base = 100;
                    var baseAge = 10;
                    var compData = heightData[idx];
                    if (idx > 0) {
                        base = heightData[idx-1].height;
                        baseAge = heightData[idx-1].age;
                    }
                    var ratio = (value - base) / (compData.height - base)
                    var multiplier = compData.age - baseAge
                    return baseAge + Math.round(ratio * multiplier * 10) / 10;
                }
            }

            // 결과 보여주기
            var showResult = function(idx) {
                $analyzed.css("display", "block");
                var resultMessage;
                var $user_result = $("#user_result");
                var $user_value = $("#user_value");
                if ( idx >= 0) {
                    resultMessage = result.message;
                    resultMessage = replaceMessage(resultMessage,/<name>/, name);
                    resultMessage = replaceMessage(resultMessage,/<age>/, guessedresult);
                    var resultValue = "\"" + height + "cm\"";

                    $user_value.html(resultValue);
                } else {
                    resultMessage = "에이... 어플에 거짓말을 하면 쓰나..."
                }
                $user_result.html(resultMessage);
                var img = getImage(idx);
                $img.attr("src", img);
                // 김연경 타임라인으로...
            }
            // 타임라인
            var showTimeLine = function() {
                $analyzed.css("display", "none");
                $timeLine.css("display", "block");
                $img.css("display", "none");
                $(".slicker").slick();
            }
            function reloadPage(){
                location.reload();
            }
            $("#logo").click(reloadPage);
            $(document).ready(function(){
                var $form = $("#name_height_form");
                var $toTimeline = $("#totimeline");
                getHeightData().done(function(item){
                    heightData = item.heightData;
                });
                $form.submit(getNameHeight);
                $toTimeline.click(showTimeLine);
            });
        </script>
    </body>
</html>
