@font-face{
    font-family : 'HANNA';
    src : url('../fonts/BM-HANNA.ttf');
}
@font-face{
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Light.ttf');
}

.margin-top{
    margin-top : 15px;
}
.center-text{
    text-align : center;
}
.right-text{
    text-align : right;
}
.Roboto {
    font-family : 'Roboto';
}

@keyframes active {
    0% { right : 10px}
    5% { right : 20px}
    10% { right : 10px}
    15% { right : 20px}
    20% { right : 10px}
}
@-webkit-keyframes active {
    0% { right : 10px}
    5% { right : 20px}
    10% { right : 10px}
    15% { right : 20px}
    20% { right : 10px}
}

video::-webkit-media-controls-panel {
  display: none;
  -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
  display: none;
  -webkit-appearance: none;
}


video::-webkit-media-controls {
  display: none;
  -webkit-appearance: none;
}
