@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face{
    font-family : 'HANNA';
    src : url('../fonts/BM-HANNA.ttf');
}
@font-face{
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family : 'Bangers';
    src : url('../fonts/Bangers-Regular.ttf');
}
@font-face{
    font-family : 'NanumGothic';
    src : url('../fonts/NanumGothic-ExtraBold.ttf');
}

.margin-top{
    margin-top : 15px;
}
.center-text{
    text-align : center;
}
.right-text{
    text-align : right;
}
.Roboto {
    font-family : 'Roboto';
}

.float_left {
    float : left;
}
@keyframes active {
    0% { right : 10px}
    5% { right : 20px}
    10% { right : 10px}
    15% { right : 20px}
    20% { right : 10px}
}
@-webkit-keyframes active {
    0% { right : 10px}
    5% { right : 20px}
    10% { right : 10px}
    15% { right : 20px}
    20% { right : 10px}
}


