@font-face{
    font-family : 'HANNA';
    src : url('../fonts/BM-HANNA.ttf');
}
@font-face{
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Light.ttf');
}

.Roboto {
    font-family : 'Roboto';
}
