@keyframes buttonanime {
    0% {
        transform : translateY(0px);
    }
    10% {
        transform : translateY(10px);
    }
    30%{
        transform : translateY(0px);
    }
}
.arrow{
    position : absolute;
    bottom : 0;
    left : 50%;
    transform : translateX(-50%);
    -webkit-transform : translateX(-50%);
    color : white;
    font-family : Roboto;
}
.swiper-button-custom {
    width : 142px;
    height : 45px;
    border-radius : 20px;
    background-color : #46fa8c;
    box-shadow : 0 0 5px 0 #46fa8c;
}
.swiper-prev {
    display : inline-block;
    cursor : pointer;
}
.swiper-prev div {
    display : inline-block;
}
.swiper-next {
    display : inline-block;
    cursor : pointer;
}
.swiper-next div {
    display : inline-block;
}
.up_arrow {
    width : 77px;
    height : 47px;
    border-right : 4px solid rgba(256, 256, 256, 0.6);
    object-fit : contain;
}
.up_arrow img {
    width : 64px;
    height : 47px;
}

.down_arrow {
    animation-name : buttonanime;
    animation-duration : 4s;
    animation-iteration-count : infinite;
    padding : 8px 0px 8px 10px;
    height : 38px;
    object-fit : contain;
}
.down_arrow img {
    width : 64px;
    height : 47px;
}
