.spinner {
    margin: 100px auto 0;
    width: 300px;
    text-align: center;
}
.spinner p {
    font-family: 'NanumGothic';
    font-size: 18px;
    width : 310px;
    text-align: center;
    color : white;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
}

.spinner img {
    width : 100%;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    right:0px;
}
.spinner > div {
    width: 16px;
    height: 16px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.7s infinite ease-in-out both;
    margin-right: 5px;
}

.spinner--orange > div {
    background: #FF9A27;
}

.spinner--cyan > div {
    background: #3FCCA1;
}

.spinner--yellow > div {
    background: #F2D915;
}

.spinner .spinner__item1 {
    animation-delay: -0.60s;
}

.spinner .spinner__item2 {
    animation-delay: -0.40s;
}

.spinner .spinner__item3 {
    animation-delay: -0.20s;
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
        opacity: 0;
    } 40% { 
        transform: scale(1.0);
        opacity: 1;
  }
}
